@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Nikosh;
  src: url("../assets/font/Nikosh.woff2");
} */

html {
  /* font-family: Nikosh; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}